::placeholder { 
    color: #fff;
    opacity: 1;
  }

:focus {
    border: none;
    outline: none;
}

.input-container{
    width: 80%;
    text-align: left;
}

.top-input-container{

}

.txt-title {
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    height: 35px;
    background: #85878a88;
    color: #fff;
    width: 40%;
    font-size: 17px;
}

.txt-title.show{
    animation: expand 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.txt-description{
    border-radius: 5px;
    border: none;
    background: #85878a88;
    color: #fff;
    min-width: 91%;
    max-width: 91%;
    min-height: 0;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 10px;
    opacity: 0;
}

.txt-description.show{
    animation: showtextArea 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#btn-submit {
    border-radius: 50px;
    border: none;
    height: 35px;
    background: #4a4d52;
    color: #fff;
    font-size: 17px;
    opacity: 0;
    margin-left: 3%;
}

#btn-submit.show{
    animation: showButton 0.2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

@keyframes expand{
    from {
        width: 40%;
    }
    to{
        width: 80%;
    }
}

@keyframes showButton{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes showtextArea{
    from {
        opacity: 0;
    }
    to{
        min-height: 100px;
        opacity: 1;
    }
}